<div class="home-banner" style="background-image: url('<%= @garden.banner_url %>')">
</div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="garden-show-card-one">
        <h1><%= @garden.name %></h1>
         <div class="garden-card-image" style="background-image: url('<%= @garden.banner_url %>')"></div>
      </div>
      <div class="garden-show-card">
        <h3>A bit more about this garden...</h3>
        <p><%#= @garden.description %></p>
        <h3>Ingredients</h3>
</div>
